<style>
        body {
            font-family: Arial, sans-serif;
        }

        
      
        .oculto {
            display: none;
        }

        #leiaMaisBtn {
            background-color: #4CAF50; /* Verde */
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }

        #leiaMaisBtn:hover {
            background-color: #45a049; /* Verde mais escuro ao passar o mouse */
        }
    </style>
